[Desktop Entry]
Version=1.0
Name=Google Maps
Exec=google-chrome-stable --app=https://maps.google.com
Terminal=false
Type=Application
Icon=google_maps
StartupNotify=true
