[Desktop Entry]
Version=1.0
Name=Netflix
Exec=google-chrome-stable --app=https://www.netflix.com/browse/my-list
Terminal=false
Type=Application
Icon=netflix
StartupNotify=true
