/* TODO: swap to catppuccin colors or use my own from hypr */
@import "catppuccin_mocha.css";
/* @import url("catppuccin_mocha.css"); */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* TODO: consider installing fontawesome, try to avoid tho */
  font-family:
    Noto Sans,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 26px;
  color: #ffffff;
}

window#waybar {
  background-color: transparent;
  /* transition-property: background-color; */
  /* transition-duration: 0.5s; */
}

window#waybar.hidden {
  opacity: 0.2;
}

/* TODO: use wireplumber module */
#pulseaudio:hover {
  background-color: #a37800;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#language,
#idle_inhibitor {
  padding: 0 10px;
  border-radius: 15px; /* hypr also using 15 rounding */
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid;
}

#clock {
  color: @rosewater;
  border-color: @rosewater;
}

#battery {
  color: @flamingo;
  border-color: @flamingo;
}

#battery.charging,
#battery.plugged {
  color: @pink;
}

@keyframes blink {
  to {
    color: @yellow;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  border-color: @mauve;
  color: @mauve;
}

#memory {
  padding: 0px 15px 0px 10px;
  border-color: @maroon;
  color: @maroon;
}

#disk {
  border-color: @peach;
  color: @peach;
}

#backlight {
  border-color: @teal;
  color: @teal;
}

#network {
  border-color: @sky;
  color: @sky;
}

#network.disconnected {
  background-color: @red;
}

#pulseaudio {
  border-color: @sapphire;
  color: @sapphire;
}

#pulseaudio.muted {
  background-color: #90b1b1;
}

#wireplumber {
  background-color: #fff0f5;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#temperature {
  color: #f0932b;
  border-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
}

#language {
  color: @lavender;
  border-color: @lavender;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
