[Desktop Entry]
Version=1.0
Name=Gemini
Exec=firefox --new-window https://gemini.google.com/app
Terminal=false
Type=Application
Icon=gemini
StartupNotify=true
