[Desktop Entry]
Version=1.0
Name=Miruro.tv
Exec=firefox --new-window https://www.miruro.tv
Terminal=false
Type=Application
# Icon=netflix
StartupNotify=true
