[Desktop Entry]
Version=1.0
Name=Netflix
Exec=firefox --new-window https://www.netflix.com/browse/my-list
Terminal=false
Type=Application
Icon=netflix
StartupNotify=true
